{% extends 'header.html' %} {% block title %} Send New Leave Application {% endblock %}
<!---->
{% block breadcrumbs %} {% include 'breadcrumbs.html' %} {% endblock %}
<!---->
{% block content %}
<!---->
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger background-danger">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="icofont icofont-close-line-circled text-white"></i>
  </button>
  <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
<div>
  <div class="card">
      <form class="m-4" method="POST">
        <!---->
        {% csrf_token %}
        <!---->
        {{form.media}} {{form.as_p}}
        <!---->
        <button type="submit" class="btn btn-primary btn-round">Send Application</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
