<!DOCTYPE html>
{% load static %}
<html lang="en">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
    <title>Login</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link
      rel="icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand:500,700"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'styles/waves.min.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/feather.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/themify-icons.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/icofont.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/pages.css' %}"
    />
  </head>
  <body themebg-pattern="theme1">
    
<div class="theme-loader">
<div class="loader-track">
<div class="preloader-wrapper">
<div class="spinner-layer spinner-blue">
<div class="circle-clipper left">
<div class="circle"></div>
</div>
<div class="gap-patch">
<div class="circle"></div>
</div>
<div class="circle-clipper right">
<div class="circle"></div>
</div>
</div>
<div class="spinner-layer spinner-red">
<div class="circle-clipper left">
<div class="circle"></div>
</div>
<div class="gap-patch">
<div class="circle"></div>
</div>
<div class="circle-clipper right">
<div class="circle"></div>
</div>
</div>
<div class="spinner-layer spinner-yellow">
<div class="circle-clipper left">
<div class="circle"></div>
</div>
<div class="gap-patch">
<div class="circle"></div>
</div>
<div class="circle-clipper right">
<div class="circle"></div>
</div>
</div>
<div class="spinner-layer spinner-green">
<div class="circle-clipper left">
<div class="circle"></div>
</div>
<div class="gap-patch">
<div class="circle"></div>
</div>
<div class="circle-clipper right">
<div class="circle"></div>
</div>
</div>
</div>
</div>
</div>

<section class="login-block">

<div class="container-fluid">
<div class="row">
<div class="col-sm-12">

<form method="POST" class="md-float-material form-material">
{% csrf_token %}
<div class="text-center">
<img src="{% static 'images/logo.png' %}" alt="logo" />
</div>
<div class="auth-box card">
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger background-danger">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="icofont icofont-close-line-circled text-white"></i>
  </button>
  <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
<div class="card-block">
<div class="row m-b-20">
<div class="col-md-12">
<h3 class="text-center txt-primary">Sign In</h3>
</div>
</div>
<p class="text-muted text-center p-b-5">Sign in with your regular account</p>
<div class="form-group form-primary">
<input type="text" name="user_name" class="form-control" required="">
<span class="form-bar"></span>
<label class="float-label">Username</label>
</div>
<div class="form-group form-primary">
<input type="password" name="password" class="form-control" required="">
<span class="form-bar"></span>
<label class="float-label">Password</label>
</div>
<div class="row m-t-25 text-left">
<div class="col-12">
<div class="checkbox-fade fade-in-primary">
<label>
<input name="remember" type="checkbox">
<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
<span class="text-inverse">Remember me</span>
</label>
</div>
<div class="forgot-phone text-right float-right">
<a href="auth-reset-password.html" class="text-right f-w-600"> Forgot Password?</a>
</div>
</div>
</div>
<div class="row m-t-30">
<div class="col-md-12">
<button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN</button>
</div>
</div>
</div>
</div>
</form>

</div>

</div>

</div>

</div>

</section>

    <script type="4878d7dfa7bc22a8dfa99416-text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="4878d7dfa7bc22a8dfa99416-text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="4878d7dfa7bc22a8dfa99416-text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="4878d7dfa7bc22a8dfa99416-text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/waves.min.js' %}" type="4878d7dfa7bc22a8dfa99416-text/javascript"></script>
    <script type="4878d7dfa7bc22a8dfa99416-text/javascript" src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script type="4878d7dfa7bc22a8dfa99416-text/javascript" src="{% static 'js/modernizr.js' %}"></script>
    <script type="4878d7dfa7bc22a8dfa99416-text/javascript" src="{% static 'js/css-scrollbars.js' %}"></script>
    <script type="4878d7dfa7bc22a8dfa99416-text/javascript" src="{% static 'js/common-pages.js' %}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="4878d7dfa7bc22a8dfa99416-text/javascript"></script>
    <script type="4878d7dfa7bc22a8dfa99416-text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');
    </script>
    <script src="{% static 'js/rocket-loader.min.js' %}" data-cf-settings="4878d7dfa7bc22a8dfa99416-|49" defer=""></script>
  </body>
</html>
