{% extends 'header.html' %} {% block title %} School Events {% endblock %}
<!---->
{% block breadcrumbs %} {% include 'breadcrumbs.html' %} {% endblock %}
<!---->
{% block content %}
<div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>{{table_title}}</h5>
        </div>
        <div class="card-block">
          <div class="dt-responsive table-responsive">
            <table id="simpletable" class="table table-striped table-bordered nowrap">
              <thead>
                <tr>
                  <th>DATE</th>
                  <th>STARTING TIME</th>
                  <th>ENDING TIME</th>
                  <th>EVENT TYPE</th>
                  <th>NOTES</th>
                </tr>
              </thead>
              <tbody>
                {% for event in events.all %}
                <tr>
                  <td>{{event.date|date:"D d M Y"}}</td>
                  <td>{{event.start}}</td>
                  <td>{{event.end}}</td>
                  <td>
                    <label class="label label-success">{{event.type|upper}}</label>
                  </td>
                  <td>{{event.note}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
