<div class="page-header card">
  <div class="row align-items-end">
    <div class="col-lg-8">
      <div class="page-header-title">
        <i class="feather icon-{{bread_icon}} bg-c-blue"></i>
        <div class="d-inline">
          <h5>{{bread_title}}</h5>
          <span>{{bread_subtitle}}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb breadcrumb-title">
          <li class="breadcrumb-item">
            {% if request.user.role != 'Parent' %}
            <a href="{% url 'home' %}"><i class="feather icon-home"></i></a>
            {% else %}
            <a href="{% url 'parent' %}"><i class="feather icon-home"></i></a>
            {% endif %}
          </li>
          <li class="breadcrumb-item">
            {% if request.user.role != 'Parent' %}
            <a href="{% url 'home' %}">Dashboard</a>
            {% else %}
            <a href="{% url 'parent' %}">Dashboard</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
