{% load static %} {% load cloudinary %}
<nav class="navbar header-navbar pcoded-header">
  <div class="navbar-wrapper">
    <div class="navbar-logo">
      <a href="{% url 'home' %}">
        <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="Theme-Logo" />
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="#!">
        <i class="feather icon-menu icon-toggle-right"></i>
      </a>
      <a class="mobile-options waves-effect waves-light">
        <i class="feather icon-more-horizontal"></i>
      </a>
    </div>
    <div class="navbar-container container-fluid">
      <ul class="nav-left">
        <li>
          <a href="#!" onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:toggleFullScreen()" class="waves-effect waves-light" data-cf-modified-d8424a08d31b5b8b406fded2-="">
            <i class="full-screen feather icon-maximize"></i>
          </a>
        </li>
      </ul>
      <ul class="nav-right no-select d-flex align-items-center mt-1">
        <li class="text-info">
          <h2 id="quizz-timer" class="d-none">00:00</h2>
        </li>
        <li class="user-profile header-notification">
          <div class="dropdown-primary dropdown">
            <div class="dropdown-toggle" data-toggle="dropdown">
              {% cloudinary request.user.image class="img-radius" %}

              <span>{{request.user.first_name}} {{request.user.last_name}}</span>
              <i class="feather icon-chevron-down"></i>
            </div>
            <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
              <li>
                <a href="{% url 'profile' %}"> <i class="feather icon-user"></i> My Profile </a>
              </li>
              <li>
                <a href="{% url 'logout' %}"> <i class="feather icon-log-out"></i> Logout </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
