<nav class="pcoded-navbar">
  <div class="nav-list">
    <div class="pcoded-inner-navbar main-menu">
      <ul class="pcoded-item pcoded-left-item">
        {% comment %}
        <div class="pcoded-navigation-label" menu-title-theme="theme1">
          ACCOUNT
        </div>
        {% endcomment %}
        <li class="">
          <a href="{% url 'home' %}" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
            <span class="pcoded-mtext">Dashboard</span>
          </a>
        </li>
        <li class="pcoded-hasmenu">
          <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="feather icon-book"></i></span>
            <span class="pcoded-mtext">Courses</span>
          </a>
          <ul class="pcoded-submenu">
            {% for course in courses.all %}
            <li class="pcoded-hasmenu">
              <a href="javascript:void(0)" class="waves-effect waves-dark">
                <span class="pcoded-micon"
                  ><i class="feather icon-award"></i
                ></span>
                <span class="pcoded-mtext">{{course.name}}</span>
              </a>
              <ul class="pcoded-submenu">
                <li class="">
                  <a
                    href="/{{course.name}}/lectures/"
                    class="waves-effect waves-dark"
                  >
                    <span class="pcoded-mtext">Lectures</span>
                  </a>
                </li>
                <li class="">
                  <a
                    href="/{{course.name}}/notes/"
                    class="waves-effect waves-dark"
                  >
                    <span class="pcoded-mtext">Notes</span>
                  </a>
                </li>
              </ul>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="">
          <a href="{% url 'results' %}" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="feather icon-award"></i></span>
            <span class="pcoded-mtext">Results</span>
          </a>
        </li>
        <li class="pcoded-hasmenu">
          <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon">
              <i class="feather icon-layers"></i>
            </span>
            <span class="pcoded-mtext">Widget</span>
          </a>
          <ul class="pcoded-submenu">
            <li class="">
              <a href="widget-statistic.html" class="waves-effect waves-dark">
                <span class="pcoded-mtext">Statistic</span>
              </a>
            </li>
            <li class="">
              <a href="widget-data.html" class="waves-effect waves-dark">
                <span class="pcoded-mtext">Data</span>
              </a>
            </li>
            <li class="">
              <a href="widget-chart.html" class="waves-effect waves-dark">
                <span class="pcoded-mtext">Chart Widget</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="">
          <a href="navbar-light.html" class="waves-effect waves-dark">
            <span class="pcoded-micon">
              <i class="feather icon-menu"></i>
            </span>
            <span class="pcoded-mtext">Navigation</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
