<nav class="pcoded-navbar zindex-5">
  <div class="nav-list">
    <div class="pcoded-inner-navbar main-menu" style="background-color: #fff">
      <ul class="pcoded-item pcoded-left-item pt-4">
        <li>
          <a class="active-white" href="{% url 'home' %}">
            <span class="pcoded-micon text-primary"><i class="feather icon-home"></i></span>
            <span class="text-dark">Dashboard</span>
          </a>
        </li>
        <li class="">
          <a class="active-white" href="{% url 'attendence' %}">
            <span class="pcoded-micon text-primary">
              <i class="feather icon-user"></i>
            </span>
            <span class="text-dark">Attendence</span>
          </a>
        </li>
        <li class="">
          <a class="active-white" href="{% url 'timetable' %}">
            <span class="pcoded-micon text-primary">
              <i class="feather icon-clock"></i>
            </span>
            <span class="text-dark">Time Table</span>
          </a>
        </li>
        <li class="">
          <a class="active-white" href="{% url 'timing' %}">
            <span class="pcoded-micon text-primary">
              <i class="feather icon-watch"></i>
            </span>
            <span class="text-dark">School Timing</span>
          </a>
        </li>
        <li class="">
          <a class="active-white" href="{% url 'events' %}">
            <span class="pcoded-micon text-primary">
              <i class="feather icon-zap"></i>
            </span>
            <span class="text-dark">School Events</span>
          </a>
        </li>
        <li class="">
          <a class="active-white" href="{% url 'fee' %}">
            <span class="pcoded-micon text-primary">
              <i class="feather icon-box"></i>
            </span>
            <span class="text-dark">Fee Status</span>
          </a>
        </li>
        <li class="">
          <a class="active-white" href="{% url 'results' %}">
            <span class="pcoded-micon text-primary"><i class="feather icon-award"></i></span>
            <span class="text-dark">Results</span>
          </a>
        </li>
        <li class="">
          <a class="active-white" href="{% url 'courses' %}">
            <span class="pcoded-micon text-primary"><i class="feather icon-book"></i></span>
            <span class="text-dark">Courses</span>
          </a>
        </li>
        <li class="">
          <a class="active-white" href="{% url 'quizz' %}">
            <span class="pcoded-micon text-primary"><i class="feather icon-command"></i></span>
            <span class="text-dark">Quizz</span>
          </a>
        </li>
        <li class="pcoded-hasmenu">
          <a href="javascript:void(0)" class="active-white">
            <span class="pcoded-micon text-primary">
              <i class="feather icon-external-link"></i>
            </span>
            <span class="text-dark">Leave Applications</span>
          </a>
          <ul class="pcoded-submenu bg-white">
            <li class="">
              <a class="active-white" href="{% url 'new_leave' %}">
                <span class="text-dark">New Application</span>
              </a>
            </li>
            <li class="">
              <a class="active-white" href="{% url 'leaves' %}">
                <span class="text-dark">My Applications</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="">
          <a class="active-white" href="{% url 'logout' %}">
            <span class="pcoded-micon text-primary"><i class="feather icon-log-out"></i></span>
            <span class="text-dark">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
