{% extends 'header.html' %} {% block title %}My Courses{% endblock %}
<!---->
{% block breadcrumbs %} {% include 'breadcrumbs.html' %} {% endblock %}
<!---->
{% block content %}
<div class="row">
  {% for course in courses %}
  <div class="col-xl-3 col-md-6">
    <div class="card prod-p-card card-blue">
      <div class="card-body">
        <div class="row align-items-center m-b-30">
          <div class="col">
            <h6 class="m-b-5 text-white">{{course.teacher}}</h6>
            <h3 class="m-b-0 f-w-700 text-white">{{course.name}}</h3>
          </div>
          <div class="col-auto">
            <i class="fas fa-book text-c-blue f-18"></i>
          </div>
        </div>
        <p class="m-b-0 text-white d-flex justify-content-between align-items-center">
          <a href="/{{course.name}}/notes/">
            <span class="label label-danger font-weight-bold">Get Notes</span>
          </a>
          <a href="/{{course.name}}/lectures/">
            <span class="label label-danger font-weight-bold">View Lectures</span>
          </a>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
